<div aurelia-app="main">
    <div class="splash">
        <div class="message">Aurelia Navigation Skeleton</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    @section scripts{
        <script src="~/jspm_packages/system.js"></script>
        <script src="~/config2.js"></script>
        <script>
            sessionStorage.setItem('quizer:isauthorized', false);
            System.import('aurelia-bootstrapper');
        </script>
    }
</div>
